/* здесь используйте глобальные переменные */
$base-color-grey: #444444;
$bg-base-green: #68b738;
$bg-base-grey:#d9d9d9;
$base-color-white: #ffffff;
$base-color-black:#000000;
$bg-base-lightgrey: #f2f2f2;

$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;
