.button {
  color: #ffffff;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  background: #68b738;
  border: none;
  outline: none;
  width: auto;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  text-transform: uppercase;
  padding: 10px 63.5px;
}

.button--outline {
  background: $btn-base-grey;
  color: $base-color-black;
}
