.card__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 64px;
  display: block;
  color: $base-color-grey;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    max-width: 135px;
    margin: 0 auto;
  }
}

.card__order {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  display: block;
}

.card__order-content {
  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.card__order:active {
  color: color-mix(in sRGB, $bg-btn-green 70%, $base-color-white);
}

.card__order:hover,
.card__order:focus,
.card__order:focus-visible {
  background: $bg-btn-green;
}

.card__show {
  padding-top: 10px;
  padding-bottom: 10px;
}


.card__show:hover,
.card__show:active,
.card__show:focus,
.card__show:focus-visible {
  background: #ebebeb;
}

.card--more-products {
  text-align: center;

  @media (min-width: $tablet-width) {
    border: 2px solid $card-color-lightgrey;
    padding: 45px 37px 40px;
    margin-top: 93px;
  }
}

.card__title--more-products {
  padding: 0;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
  }
}

.card__description-more-products {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 9px;
  padding-bottom: 21px;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 82px;
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {

    padding-bottom: 95px;
  }
}

.card__description {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    color: $base-color-grey;
    display: grid;
    gap: 7px;
    border-bottom: 1px solid $line-base-grey;
    padding-top: 19px;
    min-width: calc(50vw - 147px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
  }
}

.card__description-row {
  display: flex;
  place-content: center space-between;
  align-items: center;

  @media (min-width: $tablet-width) {

    border-bottom: 1px solid $line-base-grey;
    padding-bottom: 4px;
  }
}

.card__description-category {
  text-align: left;
}

.card__description-category-value {
  text-align: right;
}

.card__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 40px 32px;
  }
}

.card__image--more-products {
  text-align: center;
}

.card__info {
  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}
