.card__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card--more-products {
  text-align: center;
}

.card__title--more-products {
  padding-top: 23px;
}

.card__description-more-products {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 14px;
  padding-bottom: 21px;
  overflow: hidden;
}

.card__description {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 14px;
  overflow: hidden;
}

.card__description-category {
  text-align: left;
}

.card__description-category-value {
  text-align: right;
}

.card__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-bottom: 17px;
    display: grid;
  }
}

.card__image--more-products {
  text-align: center;
}
