.contact__list iframe {
  border: 0;
  display: block;
}

.contact__list-offer {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__list-address {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-grey;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

.contact__list-address-city {
  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-top: 18px;
  }
}

.contact__list-info {
  padding-top: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 70px;
    gap: 308px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contact__location {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
