.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  font-size: 0;
  color: $base-color-grey;
  margin-top: -5px;
  margin-right: -2px;

  @media (min-width: $tablet-width) {
    padding-left: 23px;
  }
}

.copyright__link::before {
  content: " ";
  background-image: url("../../icons/stack.svg#htmlAdademy_logo");
  background-size: 0;
  width: 32px;
  height: 30px;
  display: block;
  mask-image: url("../../icons/stack.svg#htmlAdademy_logo");
  mask-size: 32px 30px;
  mask-repeat: no-repeat;
  background-color: #666666;
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-grey;
}

.copyright__link:hover::before,
.copyright__link:focus::before,
.copyright__link:focus-visible::before {
  background-color: $bg-base-green;
  opacity: 1;
}

.copyright__link:active::before {
  background-color: $bg-base-green;
  opacity: 0.3;
}

.copyright__text:hover,
.copyright__text:focus,
.copyright__text:focus-visible {
  color: $bg-base-green;
  opacity: 1;
}

.copyright__text:active {
  color: $bg-base-green;
  opacity: 0.3;
}
