.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  font-size: 0;

  @media (min-width: $tablet-width) {
    padding-left: 23px;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
}

.copyright__link:hover,
.copyright__link:focus {
  color: $bg-base-green;
  opacity: 1;
}

.copyright__link:active {
  color: $bg-base-green;
  opacity: 0.3;
}

.copyright__text:hover,
.copyright__text:focus {
  color: $bg-base-green;
  opacity: 1;
}

.copyright__text:active {
  color: $bg-base-green;
  opacity: 0.3;
}
