.copyright {
  $bg-color:#ffffff;
  display: flex;
  gap: 140px;
}

.copyright__link {
  font-size: 0;
}

.copyright__link:hover,
.copyright__link:focus {
  color: $bg-base-green;
  opacity: 1;
}

.copyright__link:active {
  color: $bg-base-green;
  opacity: 0.3;
}

.copyright__text:hover,
.copyright__text:focus {
  color: $bg-base-green;
  opacity: 1;
}

.copyright__text:active {
  color: $bg-base-green;
  opacity: 0.3;
}
