.example {
  position: relative;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    border-top: 2px solid $base-color-lightgrey;
  }
}

.example::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 76%;
    background: $bg-base-lightgrey;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.example__content {
  padding-top: 25px;
  background-color: $bg-base-lightgrey;


  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    grid-template-columns: 500px 650px;
    padding: 19px 0 0 10px;
    display: grid;
    gap: 150px;
    place-content: center center;
  }
}

.example__content-info {
  @media (min-width: $tablet-width) {
    padding-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
    padding-left: 35px;
    padding-right: 30px;
  }
}

.example__subtitle {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 43px;
    display: grid;
    width: 369px;
  }
}

.example__info {
  @media (min-width: $tablet-width) {
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-top: 51px;
  }
}

.example__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-grey;
  padding-top: 40px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 146px;
    max-width: 436px;
  }
}

.example__item {
  border: 2px solid $line-base-grey;
  position: relative;
  padding-top: 20px;
  padding-bottom: 17px;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 14px;
  }
}

.example__item > dt {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item > dd {
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  bottom: -13px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $bg-base-lightgrey;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    background-color: $base-color-white;
    white-space: nowrap;
    padding: 0 8px;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-base-lightgrey;
  }
}

.example__spending {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
    width: 174px;
    text-align: right;
    padding-top: 20px;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-top: 42px;
  }
}

.example__spending-value {
  @media (min-width: $desktop-width) {
    padding-left: 63px;
  }
}

.example__slider {
  position: relative;
  text-align: center;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__slider::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  background: $bg-base-lightgrey;
  left: 0;
  bottom: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    height: 77%;
  }
}

.example__slider-button {
  cursor: pointer;
  color: transparent;
  background-color: $slider-line-grey;
  border: none;
  border-radius: 2px;
  height: 85%;
  width: 4px;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;

  @media (min-width: $tablet-width) {
    top: -17px;
  }

  @media (min-width: $desktop-width) {
    top: -2px;
    left: 50%;
  }
}

.example__slider-after {
  display: none;
}

.example__slider-button:hover,
.example__slider-button:focus,
.example__slider-button:focus-visible {
  background-color: $bg-base-green;
}

.example__slider-button:active {
  background-color: $bg-base-green;
  opacity: 0.6;
}

.example__slider-button::before {
  content: " ";
  background-color: $base-color-white;
  border: 2px solid $base-color-grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example__slider-button:hover::before,
.example__slider-button:focus::before {
  border-color: $bg-base-green;
}

.example__slider-button:active::before {
  border-color: $bg-base-green;
  opacity: 0.6;
}

.example__slider-button::after {
  content: " ";
  background-image: url("../../icons/stack.svg#slider_arrows");
  background-size: 0;
  background-color: $base-color-grey;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url("../../icons/stack.svg#slider_arrows");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
}

.example__slider-button:hover::after,
.example__slider-button:focus::after {
  background-color: $bg-base-green;
}

.example__slider-button:active::after {
  background-color: $bg-base-green;
  opacity: 0.6;
}

.example__picture {
  object-fit: cover;
}
