.extra-product {
  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
  }
}

.extra-product__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.extra-product__list {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.extra-product__content {
  display: grid;
  grid-template-columns: 1fr;


  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 70px;
    padding-top: 47px;
  }
}

.extra-product__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  overflow-wrap: anywhere;
  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 201px;
    gap: 10px;
    margin: 0;
  }
}

.extra-product__description-price {
  @media (min-width: $tablet-width) {
    width: 93px;
    text-align: right;
    margin: 0;
  }
}


.extra-product__item {
  border-top: 1px solid $line-base-grey;
  padding-top: 14px;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $line-base-grey;
    border-left: 1px solid $line-base-grey;
    border-right: 1px solid $line-base-grey;
    padding: 28px 38px 27px;
  }

  @media (min-width: $desktop-width) {
    border: 0;
    border-top: 1px solid $line-base-grey;
    grid-template-columns: 650px 247px;
    padding: 15px 0 17px;
    align-items: center;
  }
}

.extra-product__item:last-child {
  border-bottom: 1px solid $line-base-grey;
}

.extra-product__item-row {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -16px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 316px 392px;
    gap: 10px;
    margin-top: 0;
    margin-bottom: -5px;
  }
}

.extra-product__subtitle {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  position: relative;
  width: fit-content;
  box-shadow: -40px 0 0 0 $base-color-white, 40px 0 0 0 $base-color-white;
  background: $base-color-white;
  margin-top: 23px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 7px;
    padding-left: 38px;
    font-size: 32px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    padding: 0;
  }
}

.extra-product__subtitle::after {
  content: " ";
  background: $bg-base-green;
  width: 100vw;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  box-shadow: 100vw 0 $bg-base-green;
  z-index: -1;
  margin-top: 1px;
}

.extra-product__subtitle::before {
  content: " ";
  background: $bg-base-green;
  width: 50vw;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 250px;
  box-shadow: -50vw 0 $bg-base-green;
  z-index: -1;
}

.extra-product__gift {
  background-color: $bg-base-green;
  background-image: url("../../images/catalog/giftMobile@2x.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 59px 61px 46px 58px;
  text-align: center;
  color: $base-color-white;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/catalog/giftTablet@2x.webp");
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 125px 60px 77px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/catalog/giftDesktop@2x.webp");
    height: 288px;
    max-width: 245px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.extra-product__gift::before {
  content: " ";
  background-image: url("../../icons/stack.svg#icon_gift");
  background-repeat: no-repeat;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 78px;
  height: 80px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.extra-product__gift-info {
  @media (min-width: $tablet-width) {
    max-width: 163px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.extra-product__order {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.extra-product__order:active {
  color: color-mix(in sRGB, $bg-btn-green 70%, $base-color-white);
}

.extra-product__order:hover,
.extra-product__order:focus,
.extra-product__order:focus-visible {
  background: $bg-btn-green;
}
