.logo {
  $bg-color:#ffffff;
  opacity: 1;

  @media (min-width: $tablet-width) {
    padding-right: 13px;
  }
}

.logo__title {
  @media (min-width: $tablet-width) {
    width: 129px;
    height: 25px;
  }
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
