.main-product {
  font-family: $secondary-font;
  color: $base-color-white;
  font-weight: 400;
  position: relative;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 526px;
    background-color: $base-color-white;
    color: $base-color-black;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-bottom: 189px;
    margin: 0 auto;
    position: static;
  }
}

.main-product__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  position: relative;


  @media (min-width: $tablet-width) {
    align-items: flex-start;
    position: static;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 422px 552px;
    display: grid;
    margin: 0 auto;
    max-width: 1220px;
    position: relative;
    padding-left: 80px;
    gap: 1px;
  }
}

.main-product::before {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: image-set(url("../../images/index/catBgMobile@1x.webp") 1x, url("../../images/index/catBgMobile@2x.webp") 2x);
    background-repeat: no-repeat;
    background-color: $bg-hero-green;
    background-position: center;
    width: 100%;
    height: 63%;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: image-set(url("../../images/index/catBgDesktop@1x.webp") 1x, url("../../images/index/catBgDesktop@2x.webp") 2x);
    background-repeat: no-repeat;
    background-color: $bg-hero-green;
    top: 0;
    left: 50%;
    right: 0;
    height: 694px;
    background-position: left top;
  }
}

.main-product__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 10px 0;
  font-family: $secondary-font;
  font-weight: 400;
  text-align: center;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {

    font-size: 60px;
    line-height: 60px;
    padding-top: 51px;
    padding-left: 119px;
    padding-right: 119px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 105px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-product__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 25px 10px 29px;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    padding: 40px 120px 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 38px;
    padding-bottom: 51px;
  }
}

.main-product__picture {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 24px;
    left: 446px;
  }
}

.main-product__content > picture {
  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 4;
  }
}

.main-product__select-program {
  color: $base-color-white;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  background: $bg-base-green;
  border: none;
  outline: none;
  width: auto;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  text-transform: uppercase;
  padding: 10px 63.5px;
  overflow-wrap: anywhere;
  max-width: calc(100vw - 40px);

  @media (min-width: $tablet-width) {
    margin-left: 120px;
    z-index: 999;
    background: $bg-base-green;
    padding: 14px 26px;
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 26px;
    max-width: calc(50vw - 60px);
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin: 0;
    margin-right: 177px;
    text-align: center;
  }
}

.main-product__select-program:active {
  color: color-mix(in sRGB, $bg-btn-green 70%, $base-color-white);
}


.main-product__select-program:hover,
.main-product__select-program:focus,
.main-product__select-program:focus-visible {
  background: $bg-btn-green;
}
