.nav-list__item {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: $base-color-black;
  text-transform: uppercase;
  opacity: 1;
  border-top: 2px solid $base-color-lightgrey;
  height: 66px;
  text-align: center;
  align-content: center;

  @media (min-width: $desktop-width) {
    color: $base-color-white;
  }
}

.nav-list__item:hover,
.nav-list__item:focus {
  opacity: 0.6;
}

.nav-list__item:active {
  opacity: 0.3;
}

.nav-list__item-link {
  color: $base-color-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.nav-list__item-link--light {
  @media (min-width: $desktop-width) {
    color: $base-color-white;
  }
}

.nav-list__item--active {
  text-decoration: underline;
  opacity: 1;
  color: $bg-base-green;
  text-underline-offset: 10px;
}

@media (min-width: $tablet-width) {
  .nav-list__item {
    border-top: none;
  }
}
