.navigation {
  $bg-color:#ffffff;
}

.navigation__toggle {
  background-color: #ffffff;
  background-image: url("/icons/stack.svg#burger_menu_closed");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: 0;
}

.navigation__toggle--closed {
  background-image: url("/icons/stack.svg#burger_menu_opened");
}
