.navigation {
  position: absolute;
  top: 65px;
  width: 100%;
  left: 0;
  background-color: $base-color-white;
  display: none;
  flex-flow: column nowrap;
  z-index: 999;

  @media (min-width: $tablet-width) {
    flex: 1;
    position: inherit;
    display: block;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    background-color: transparent;
  }
}

.navigation--active {
  display: flex;
}

.navigation__content--popup {
  display: none;
}

.navigation__list {
  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 33px;
    display: flex;
    justify-content: flex-end;
  }
}
