.navigation {
  position: absolute;
  top: 64px;
  width: 100%;
  left: 0;
  background-color: $base-color-white;
  display: none;
  flex-flow: column nowrap;
  z-index: 1000;

  @media (min-width: $tablet-width) {
    flex: 1;
    position: inherit;
    display: block;
    top: 0;
    left: -6px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
  }
}

.navigation--active {
  display: flex;
}

.navigation__content--popup {
  display: none;
}

.navigation__list {
  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 33px;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    gap: 26px 33px;
    max-width: 550px;
  }
}
