.news {
  padding-bottom: 40px;
  padding-top: 18px;

  @media (min-width: $tablet-width) {

    padding-bottom: 80px;
    padding-top: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 104px;
  }
}

.news__form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding: 40px 40px 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.news__description {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.news__email {
  height: 56px;
  margin-bottom: 16px;
  border-color: $line-base-grey;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $secondary-font;
  padding-left: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.news__email:valid {
  border-color: $line-base-grey;
}

.news__email:invalid {
  border-color: $input_color-red;
}

.news__subtitle {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  width: fit-content;
  box-shadow: -40px 0 0 0 $base-color-white, 40px 0 0 0 $base-color-white;
  background: $base-color-white;
  overflow-wrap: anywhere;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 1;
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    padding-left: 0;
  }
}


.news__subtitle::after {
  content: " ";
  background: $bg-base-green;
  width: 100vw;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  box-shadow: 100vw 0$bg-base-green;
  z-index: -1;
}

.news__subtitle::before {
  content: " ";
  background: $bg-base-green;
  width: 50vw;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 190px;
  box-shadow: -50vw 0 $bg-base-green;
  z-index: -1;
}

.news__subscribe {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.news__info {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 374px 256px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 496px 256px;
  }
}

.news__subscribe:active {
  color: color-mix(in sRGB, $bg-btn-green 70%, $base-color-white);
}

.news__subscribe:hover,
.news__subscribe:focus,
.news__subscribe:focus-visible {
  background: $bg-btn-green;
}
