.product {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.product__main-title {
  margin: 0;
  padding-bottom: 41px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    text-align: left;
    font-size: 60px;
    line-height: 1;
  }
}

.product__main-title::before {
  content: "";
  border-bottom: 1px solid $border-color-lightgrey;
  width: calc(100% + 40px);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -20px;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.product__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: ($tablet-width - 1)) {
    max-width: 320px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 45px 55px;
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 20% 20% 20% 20%;
    gap: 54px 80px;
  }
}

.product__item {
  flex-direction: column;
  display: flex;
  padding-top: 20px;
  padding-bottom: 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 40px;
    padding-top: 28px;
  }
}

.product__item:last-child::before {
  background-color: $base-color-white;
}

.product__item::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid $base-color-lightgrey;
  height: 2px;
  width: calc(100% + 40px);
  bottom: 0;
  left: -20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 82%;
    background: $bg-base-lightgrey;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}
