.program__title {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;
  align-items: center;
}

.program__item {
  background-color: $bg-base-lightgrey;
}

.program__title--slim::before {
  content: " ";
  background-image: url("/icons/stack.svg#cat_slim");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  width: 50px;
  height: 53px;
}

.program__title--pro::before {
  content: "";
  background-image: url("/icons/stack.svg#cat_pro");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  width: 67px;
  height: 50px;
}

.program__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-grey;
}

.program__link {
  text-transform: uppercase;
  color: $base-color-black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.program__link::after {
  content: " ";
  mask-image: url("/icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  width: 24px;
  height: 12px;
  background-color: $base-color-black;
}

.program__link:active {
  opacity: 0.3;
}

.program__link:active::after {
  opacity: 0.3;
}

