.rule {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }
}

.rule__subtitle {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}


.rule__content {
  padding-bottom: 29px;
}

.rule__list {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 153px;
    padding-right: 70px;
    padding-top: 72px;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
    display: grid;
  }
}

.rule__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-grey;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 26px;
  }
}

.rule__item {
  display: flex;
  padding-bottom: 20px;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    flex-direction: column;
    gap: 31px;
    position: relative;
  }
}

.rule__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    font-size: 280px;
    right: 15px;
    top: -120px;
    color: #f2f2f2;
    z-index: -1;
    font-family: $secondary-font;
  }
}

.rule__icon::before {
  content: " ";
  background-position: 50%;
  background-color: $bg-base-green;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.rule__icon--nutrients::before {
  background-image: url("/icons/stack.svg#icon_leaf");
  background-size: 30px 32px;
}

.rule__icon--preporation::before {
  background-image: url("/icons/stack.svg#icon_water");
  background-size: 30px 32px;
}

.rule__icon--addition::before {
  background-image: url("/icons/stack.svg#icon_eat");
  background-size: 30px 32px;
}

.rule__icon--result::before {
  background-image: url("/icons/stack.svg#icon_clock");
  background-size: 30px 32px;
}
