.rule__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-grey;
}

.rule__item {
  display: flex;
  padding-bottom: 20px;
  gap: 20px;
  align-items: center;
}

.rule__icon::before {
  content: " ";
  background-position: 50%;
  background-color: $bg-base-green;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  display: block;
}

.rule__icon--nutrients::before {
  background-image: url("/icons/stack.svg#icon_leaf");
  background-size: 30px 32px;
}

.rule__icon--preporation::before {
  background-image: url("/icons/stack.svg#icon_water");
  background-size: 30px 32px;
}

.rule__icon--addition::before {
  background-image: url("/icons/stack.svg#icon_eat");
  background-size: 30px 32px;
}

.rule__icon--result::before {
  background-image: url("/icons/stack.svg#icon_clock");
  background-size: 30px 32px;
}
