.wrapper-content {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    max-width: 1220px;
    margin: 0 auto;
  }
}
